header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    font-size: 1.8rem;
    background-color: var(--background) ;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: 9999;
    border-bottom: 1px solid #484646;
}

nav {
    width: 100%;
    display: flex;
}

.navbar {
    display: flex;
    width: 80%;
    max-width: 1980px;
    margin: auto;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
}

.navbar-left .brand {
    display: flex;
    color: white;
    align-items: center;
}
.navbar-left .brand img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.navbar-left .brand p {
    font-size: 2rem;
    color: #c3d0e5;
    font-weight: 600;
    cursor: pointer;
}

.navbar-left .links {
    display: flex;

}

.navbar-left ul {
    list-style: none;
    display: flex;
    column-gap: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2rem;
}

.navbar-left li:hover {
    cursor: pointer;
}

.navbar-left a {
    text-decoration: none;
    color: #9ba3b4;
}
.navbar-left a:hover {
    text-decoration: none;
    color : #eee;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-right .light-mode-switch {
    background-color: transparent;
    border: none;
    border-radius: 0.6rem;
    margin-right: 1rem;
    
}


.navbar-right .light-mode-switch:hover {
    background-color: rgba(255,255,255,0.10);
    cursor: pointer;
}

.navbar-right .light-mode {
    color: var(--foreground);
}

.navbar-right .search-box {
    border: 1px solid rgba(255,255,255,0.15);
    color: var(--foreground);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 1rem;

}

.navbar-right .search-icon-span {
    color: var(--foreground);
    transform: rotateY(180deg);
    position: absolute;
    left: 0.8rem;
}

.navbar-right .search-icon-span:hover {
    cursor: pointer;
}

.navbar-right input {
    border: none;
    background-color:var(--background);
    color: var(--foreground);
    padding-left: 3rem;
    height: 3rem;
}
.navbar-right input:focus {
    outline: none;
}

.navbar-right .nav-download {
    background-color: #0078d4;
    border: none;
    border-radius: 0.4rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 1.4rem;
}

.navbar-right .nav-download:hover {
    background-color: #0069b9;
    cursor: pointer;
}



@media screen and (max-width: 1200px) {

    header {
        height: 11rem;
        margin-top: 0;
    }

    nav {
        height: 100%;
    }

    .navbar {
        width: 75%;
        flex-direction: column;
        align-items: flex-start;

    }


    .navbar-right {
        align-self: flex-end;
        margin-bottom: 0.5rem;
    }

    .navbar-right .search-box {
        width: 3rem;
    }
    .navbar-right input {
        display: none;
    }
}


